body{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     width: 100vw;
     background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}
img{
    height: 100px;
    width: 100px;
}
.main{
    border: 2px solid rgb(255, 244, 244);
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20px;
    background: rgb(9,9,121);
background: radial-gradient(circle, rgba(9,9,121,1) 0%, rgba(223,207,26,1) 0%, rgba(0,212,255,1) 100%);

    
}
.battle{
    display: flex;
    justify-content: space-around;
}
.choose{
    display: flex;
    justify-content: space-around;
    
}
.user_result{
    transform: rotate(90deg);
}
.cpu_result{
    transform: rotate(-90deg);

}
.title{
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Rubik Burned', system-ui;
    color: rgb(135, 13, 13);

}
.option{
    opacity: 0.5;
    transform: opacity 0.3s ease;
  

}
.option:hover{
    opacity: 1;
    cursor: pointer;
}
.option.active{
    opacity: 1;
    cursor: pointer;
}
.hero{
    display: flex;
    justify-content: space-around;
}
.style{
    text-align: center;
    font-size: 1rem;
   
    color: rgb(135, 13, 13);
    font-style: arial;

}